<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Dry Dock for Oolite</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>drydock</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Dry Dock Document</string>
			<key>CFBundleTypeName</key>
			<string>Dry Dock Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DryD</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DDDocument</string>
			<key>NSExportableAs</key>
			<array>
				<string>Oolite Expansion Pack</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dat</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Oolite Model</string>
			<key>CFBundleTypeName</key>
			<string>Oolite Model</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>OoDa</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DDDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mesh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Meshwork Model</string>
			<key>CFBundleTypeName</key>
			<string>Meshwork Model</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Mesh</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DDDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>obj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Lightwave OBJ Model</string>
			<key>CFBundleTypeName</key>
			<string>Lightwave OBJ Model</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DDDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mtl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Lightwave Material Library</string>
			<key>CFBundleTypeName</key>
			<string>Lightwave Material Library</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oxp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Oolite Expansion Pack</string>
			<key>CFBundleTypeName</key>
			<string>Oolite Expansion Pack</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Dry Dock for Oolite</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Dry Dock Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Dry Dock Help</string>
	<key>CFBundleIconFile</key>
	<string>Dry Dock</string>
	<key>CFBundleIdentifier</key>
	<string>de.berlios.drydock</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>DryD</string>
	<key>CFBundleVersion</key>
	<string>604-1</string>
	<key>NSMainNibFile</key>
	<string>DDApplication</string>
	<key>NSPrincipalClass</key>
	<string>DDApplication</string>
	<key>SmartCrashReports_CompanyName</key>
	<string>Jens Ayton</string>
	<key>SmartCrashReports_EmailTicket</key>
	<string>SCR-E5DEF7E7FA</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Dry Dock Document</string>
			<key>UTTypeIdentifier</key>
			<string>de.berlios.drydock.document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>DryD</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>drydock</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Oolite Model</string>
			<key>UTTypeIdentifier</key>
			<string>org.aegidian.oolite.mesh</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>OoDa</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>dat</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Meshwork Model</string>
			<key>UTTypeIdentifier</key>
			<string>com.codenautics.meshwork.mesh</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>Mesh</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>mesh</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lightwave OBJ Model</string>
			<key>UTTypeIdentifier</key>
			<string>com.newtek.lightwave.obj</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>obj</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lightwave Material Library</string>
			<key>UTTypeIdentifier</key>
			<string>com.newtek.lightwave.mtl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mtl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Oolite Expansion Pack</string>
			<key>UTTypeIdentifier</key>
			<string>org.aegidian.oolite.oxp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>oxp</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
